Package: com.wh0ba.storage3d
Name: storage3d
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: 3D Touch the settings icon to see your available storage
Maintainer: Wh0ba <whappfanr@gmail.com>
Author: Wh0ba <whappfanr@gmail.com>
Section: Tweaks
Depiction: https://wh0ba.github.io/repo/depictions/?p=com.wh0ba.storage3d
